# Python
__pychache__/
.venv/
*.py[cod]

# PaddleOCR
inference/
~/.paddleocr/

# Ignore all data contents
data/input/*
data/output/*

# Explicityly include .gitkeep files to keep the directories in version control
!data/input/.gitkeep
!data/output/.gitkeep

# Environment
.env