__pychache__/
.venv/
*.py[cod]
inference/
~/.paddleocr/
data/input/train/images/*
data/input/train/labels/*
!data/input/train/images/.gitkeep
!data/input/train/labels/.gitkeep
data/input/data.yaml
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep
models/bank_statement/*
models/bank_statement/BoA/*
models/healthcare/*
models/invoice/*
!models/bank_statement/BoA
!models/bank_statement/BoA/.gitkeep
!models/bank_statement/.gitkeep
!models/healthcare/.gitkeep
!models/invoice/.gitkeep
venv/
src/core/__pycache__/
src/ui/__pycache__/
src/train/__pycache__/