# Deep Learning Engine (CPU version for stability on Linux box)
pytesseract==0.3.10

# Common helper for image processing
opencv-python
Pillow==10.0.0

# PDF to Image conversion
pdf2image==1.17.0

# Simple Python frontend/dashboard for OCR input/output display
streamlit==1.30.0