# Deep Learning Engine (CPU version for stability on Linux box)
paddlepaddle==3.1.1

# The OCR Library
paddleocr==3.4.1

# Common helper for image processing
opencv-python

# Simple Python frontend/dashboard for OCR input/output display
streamlit==1.30.0